.h1 {
    padding-left: 25px;
    font-family: sans-serif;
}

.svg {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.button {
    padding-bottom: 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    padding-top: 54px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    padding: 40px;
}

.ficheiro {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
}

.label {
    padding-bottom: 60px;
}

.wrapper {
    padding: 25px;
}