.outWrapper {
    padding: 95px 0;
}

.form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    text-align: center;
}

.label {
    padding: 10px;
}

.p {
    padding: 20px;
    width: 40rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 68px;
    padding-top: 54px;
}

.inputs {
    align-self: center;
    width: 20rem;
    padding: 10px;
}

.root {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h1 {
    text-align: center;
}

.qrcode {
    align-self: center;
    text-align: center;
    width: 256px;
    height: 256px;
  }

.qrSize {
    width: 56;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttons {
    padding: 40px;
}