:root {
  --background: #fdfdfd;
  --shadow: #e2e2e2;
  --text: #5d5149;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: white;
  color: var(--text);
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 var(--shadow);
}

h1 {
  padding: 0;
}

p {
  padding: 0;
}

* {
  box-sizing: border-box;
}
